#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=em1 --gateway=23.179.32.1 --ip=23.179.32.4 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --no-activate
network  --bootproto=dhcp --device=em2 --onboot=off --ipv6=auto
network  --hostname=187583w.server.com

# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64"
# Root password
rootpw --iscrypted $6$g7EGBYVEnLLFhpVp$0LpGhzQNveUqaqlhw8cwPN/zpG4dJ1qEYchN2D.584SId1JIlTNm.bdmeXWJkCIpfy4W86eXJY/2XE69QC6uX/
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part swap --fstype="swap" --ondisk=sda --size=32768
part pv.692 --fstype="lvmpv" --ondisk=sda --size=920076
volgroup centos_187583w --pesize=4096 pv.692
logvol /  --fstype="ext4" --size=920072 --name=root --vgname=centos_187583w

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
